/*BEGIN alter login div about registered user since it shows-up strange ad messy*/
/* div#mw-createaccount-another{
 visibility:hidden;
 display: none;
} */
div#mw-createaccount-cta h3{
  padding-top: 20px;
  font-size: 12px;
}
div#mw-createaccount-cta a#mw-createaccount-join{
  margin-top: 10px;
  font-size: 12px;
}
div#mw-createaccount-cta {
	background: none;
 /*  visibility:hidden;
  display: none; */
}

div#mw-userlogin-help{
	visibility:hidden; 
	display:none;
}
/*END alter login div about registered user since it shows-up strange ad messy*/

/*BEGIN register new user modifications */
div.prefsectiontip p {display:none; visibility:hidden;}
/* div.mw-createacct-benefits-container {display:none; visibility:hidden;} */
/*END register new user modifications */

/*Table of contents without numbering*/
.tocnumber { display: none; }
/*Do not show hide/show link for table of contents*/
.toctoggle { display:none; }
/*div.floatingtoc {float:right}*/

/*edit pagecontent textarea  should be 100% width*/
div#canvas div#body div#mw-content-text form textarea#wpTextbox1{width:99%;}

/*hack, TODO: ask NM why padding-top is 64px?
div.aside#taxonomy{padding-top:0px;}*/

/*START TEMPORARY hacks for layout (eg dt used as quickndirty headers) TODO ask BB/NM to put in css?
section#page dt{font-weight:bold;}
section#page div#mw-content-text p {
	width:66%; 
	text-align:justify;
	line-height: 18px;
}*/
/* br {line-height:18px;} */
/*section#page{margin-bottom:30px;}*/
/*
div#body h1 {
  font-size: 42px;
  color: #605E5E;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 26px; }
*/
/*END TEMPORARY hacks for layout (eg dt used as quickndirty headers) TODO ask BB/NM to put in css? */